# 参考書のソースコード
pytorch_book_info-main
pytorch_handbook-master
pytorch_advanced-master
vit_book-main

# LaTeX intermediate files
*.aux
*.log
*.toc
*.out
*.dvi
*.fls
*.fdb_latexmk
*.synctex.gz

# latexmk output dir
note/out/*
!note/out/*.pdf

ロードマップ.md
